aniso8601==3.0.0
certifi==2018.4.16
chardet==3.0.4
crispy==0.5.0
defusedxml==0.5.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.4
django-allauth==0.35.0
django-autocomplete-light==3.2.10
django-bootstrap4==0.0.6
django-cors-headers==2.2.0
django-heroku==0.3.1
django-tagging==0.4.6
django-toolbelt==0.0.1
djangorestframework==3.8.2
graphene==2.1
graphene-django==2.0.0
graphql-core==2.0
graphql-relay==0.4.5
gunicorn==19.7.1
idna==2.6
imagestore==3.1.0
iso8601==0.1.12
nose==1.3.7
oauthlib==2.0.7
Pillow==5.1.0
promise==2.1
psycopg2==2.7.4
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.11.0
sorl-thumbnail==12.4.1
static3==0.7.0
swapper==1.1.0
typing==3.6.4
urllib3==1.22
whitenoise==3.3.1
